.footer {
    background-color: var(--primary-color);
    padding: 8px;
    border: #ffffff 2px solid;
    margin-top: 8px;
    text-align: center;
    /* border: red 2px solid; */
    border-radius: 10px;
    width: 67%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding-bottom: 15px;
}

.copyright {
    position: absolute;
    bottom: 2px;
    left: 5px;
    font-size: 0.6rem;
    opacity: 0.8;
}

.footer-item {
    cursor: pointer;
}

.footer-item.marked {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #ffffff;
}

.footer-item.marked:hover {
    color: #ffd000;
}