@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');


.header {
    background-color: var(--primary-color);
    padding: 15px;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid #ffffff;
    width: 67%;
    display: flex;
}

.modeButton img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin: 10px 10px;
    cursor: pointer;
}

.headerTitle {
    font-family: 'Assistant', sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-weight: bold;
    text-align: center;
    color: var(--textList-color);
}