@import url('https://fonts.googleapis.com/css2?family=open+Sans:wght@400;600&display=swap');


.todoList {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 67%;
    border: 2px solid #ffffff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.329);
    padding: 8px;
    border-radius: 10px;
}

.todo-title {
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 150;
    color: var(--textList-color);
    font-size: large;
}

.todo-checkbox {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid var(--textList-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.todo-checkbox:checked {
    background-color: #ffffff;
}

.todo-checkbox:checked::after {
    content: '✔';
    color: var(--primary-color);
    font-size: 14px;
}

.todo-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

.todo-actions div {
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
}