.todo {
    background-color: var(--primary-color);
    padding: 10px;
    border: #ffffff 2px solid;
    text-align: center;
    /* border: red 2px solid; */
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    width: 67%;
    margin-top: 10px;
}

#btnAdd {
    background-color: #ffffff;
    cursor: pointer;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 8px;
}

#btnAdd:hover {
    background-color: var(--primary-color);
    -webkit-text-fill-color: white
}

input {
    width: 40%;
    padding: 5px;
    border-radius: 8px;
    border: solid rgb(168, 168, 168) 2px;
    text-transform: capitalize;
    color: #64748B;
}