.todo {
    background-color: #3e1d99;
    padding: 10px;
    text-align: center;
    /* border: red 2px solid; */
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    width: 67%;
    margin-top: 10px;
}

#btnAdd {
    background-color: #4f398b;
    cursor: pointer;
    border: solid;
    border-radius: 5px;
}

#btnAdd:hover {
    background-color: white;
}

input {
    width: 50%
}