.app {
    width: 100%;
    min-height: 100vh;
    transition: background-color 1s ease;
    overflow: hidden;
}

.app.lightMode {
    background-color: white;
}

.app.darkMode {
    background-color: #1a1a1a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
}