.app {
    width: 100%;
    min-height: 100vh;
    transition: background-color 1s ease;
    overflow: hidden;
}

.app.lightMode {
    background-color: #F8FAFC;
    --primary-color: rgb(127, 255, 212);
    --textList-color: rgb(133, 133, 133);
}

.app.darkMode {
    background-color: #1a1a1a;
    --primary-color: black;
     --textList-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    max-width: 100%;
}